.header{
    border-radius: 8px;
    /* margin: 5rem 8rem; */
    margin: 0 rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(227, 213, 245, 0.632);
    display: flex;
    flex-direction: row;
    align-items: center;  
    height: 468px; 
}
@media screen and  (max-width:460px){
    .header{
    width: 800px;
  
}
}
@media screen and  (max-width:520px){
    .header{
    width: 550px;
  
}
}
@media screen and  (max-width:484px){
    .header{
    width: 500px;
  
}
}
.header_content{
    /* flex: 1; */
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    margin: 8rem 2rem; 
}

.header_content h1{
    font-family: Helvetica;
    color: rgb(75, 7, 54);
    font-weight: 600;
    font-size: x-large;
    width: 30rem;
}

.header_content p{
    font-family: Helvetica;
    color: black;
    font-size: 14px;
    margin: top 1.5em ;
    letter-spacing: 0.1rem;
}

.header-image{
    /* flex: 2; */
    display: flex;
    justify-content: right;
    align-items: right;
    align-self: right;
}

.header-image img{
  width: 100%;
  height: 100%;  
}
@media screen and  (max-width:650px){
    .header-image img{
    width: 100px;
    height: 100px;  
}
}
@media screen and  (max-width:2140px){
    .header-image img{
    width: 91%;
    height: 100%;  
}
}
@media screen and  (max-width:460px){
    .header-image img{
    width: 100px;
    height: 100px;  
    margin-bottom: 307px;
    margin-left: -110px;
    margin-right: 500px;
}
}
@media screen and  (max-width:492px){
    .header-image img{
    width: 100px;
    height: 100px;  
    margin-bottom: 307px;
    margin-left: -110px;
    margin-right: 500px;
}
}
@media screen and  (max-width:581px){
    .header-image img{
    width: 100px;
    height: 100px;  
   margin-top: -46px;
    margin-left: -145px;
    
}
}
@media screen and  (max-width:350px){
    .header-image img{
    width: 100px;
    height: 100px;  
}
}
@media screen and  (max-width:950px){
    .header-image img{
    width: 100px;
    height: 100px;
    margin-top: -218px; 
    margin-left: -153px; 
    margin-right: 51px;
}
}


@media screen and  (max-width:650px){
    .header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .header p{
        font-size: 16px;
        line-height: 24px;    
    }
    @media screen and  (max-width:490px){
        .header h1{
            font-size: 36px;
            line-height: 48px;
        }
        .header p{
            font-size: 14px;
            line-height: 24px; 
        } 
    }
}