.pagination{
    
}

/* To change pagination class colors */
.pagination > li > a
{
    /* background-color: white; */
    background-color: rgb(207, 204, 204);
    color: #5A4181;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}