.head{
  margin-left: 1rem;
  font-size: 22px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.ideas{
  display: flex;
  flex-direction: row;
}

.swiper-button-prev, .swiper-button-next{
  color: dodgerblue;
  --swiper-navigation-size: 30px;
}

.ideas_container, .ideas_container2
{
  padding: 16px;
  width: 320px;
  height: 360px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.4s;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  /* overflow: scroll; */
  grid-template-rows: repeat(3, 200px); 
  grid-template-rows: 200px 200px 200px;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width:550px) {
  .ideas_container, .ideas_container2 {
    width:154px;
  }
}

@media screen and (max-width:375px) {
  .ideas_container, .ideas_container2 {
    width:154px;
  }
}

@media screen and (max-width:768px) {
  .ideas_container, .ideas_container2 {
    width:154px;
  }
}

@media screen and (max-width:1024px) {
  .ideas_container, .ideas_container2 {
    width:154px;
  }
}

@media screen and (max-width:110px) {
  .ideas_container, .ideas_container2 {
    width:154px;
  }
}

@media screen and (max-width:281px) {
  .ideas_container, .ideas_container2 {
    width:154px;
  }
}

.ideas_container:hover{
  transform: scale(1.08);
}

.ideas_container_name{
  margin-top: 5px;
  display: flex;
  text-align: left;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 1; 
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

.ideas_container_name h1{
  color: rgb(75, 7, 54);
  line-height: 1.1;
  font-size: x-large;
  font-weight: bold;
  font-family: var(Helvetica);

}

.ideas_container_description{
  text-align: left;
  font-size: 16px;
  margin-bottom: 17px;

  /* To limit description to 3 lines */
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   /* number of lines to show */
   -webkit-line-clamp: 4; 
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.ideas_container_status{
  text-align: left;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  font-size: 16px;
}

.ideas_container_created{
  font-size: 16px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.ideas_container p{
  font-family: var(Helvetica);
}

.ideas_container .idea-title-link{
  text-decoration: none;
}

/* .ideas_container .view-more-button{
  float: right;
  color: #fff;
  text-transform: Helvetica;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  background: hsla(250, 19%, 49%, 0.562);
  border :radius 10px; 
  padding: 0.5px 15px;
  cursor: pointer;
  transition: all 0.4sec ease;
  border-radius: 10px;
  border:1px solid grey;
  width: 290px;
} */

.ideas_container .view-more-button:hover{
  color: rgb(53, 44, 44);
  background: hsla(252, 20%, 80%, 0.562);
}

@media screen and (max-width:550px) {
  .ideas_section{
    display: flex;
    flex-direction: column;
}

.swiper{
  width: 10px;
}

.ideas_container.like{
    right:100px;
    float: right;
}

}
.ideas_cards{
  display: flex;
  flex-direction: row;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide{
  background-color: #f7f2f8;
}

.cards-title{
  background-image: linear-gradient(to left, #9a3c3c, #d39393);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 0px;
}

a{
  color: black;
}

a:hover{
  color: black
}
