.list-group{
    margin-top: 10px;
    margin-left: 10px;
}

.list-group-item {
    /* width: 645px; */
    width: 200%;
    background-color: #f7f2f8;
    border: transparent;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

.status{
    margin-left: 0px;
    font-size: medium;
}

.description{
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.mark, mark {
    padding: 0.1875em;
    /* padding: 0em; */
    background-color: rgb(205, 186, 189);
}
