.list {
  text-align: left;
  max-width: 650px;
}

.col-md-8{
  margin-top: 22%;
  width: 730px;
}

.list-group{
  width:401px;
}

.list-group :hover{
  background-color: rgb(216, 214, 214);
}

.submit-form {
  /* max-width: 300px; */
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.mark, mark {
  padding: 0.1875em;
  /* padding: 0em; */
  background-color: rgb(205, 186, 189);
}

.list-group-item{
  white-space: pre-wrap
}
  
  