.list-group{
    margin-top: 15px;
    margin-left: 140px;
    position: absolute;
    height: 250px;
    overflow: hidden;
    /* left: 650px;
    border: 1px solid #333333;
  width: 200px;
  height: 100px;
  overflow-y: scroll; */


    /* width: 100%;
    
   
    margin-bottom: 0px;
    padding: 10px 5px; */
   
}
.list-group:-webkit-autofill{
    border: 3px solid darkorange
}
.form{
    
}
input[type="text"] {
    left :4500px;
  }

.list-group-item {
    /* width: 645px; */
    /* width: 100%;
    background-color: white;
    border: transparent;
    margin-bottom: 0px;
    padding: 10px 5px; */
    
data-view-type:1;
}

a{
    text-decoration: none;
}

.status{
    margin-left: 0px;
    font-size: medium;
}

.description{
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.mark, mark {
    padding: 0.1875em;
    /* padding: 0em; */
    background-color: rgb(205, 186, 189);
}
