.idea{
 
  border-radius: 8px;
  margin: 0 8rem;
  margin-top: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(225, 240, 248, 0.767);
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
 
}
.idea_title{
  margin: 0.5rem 2rem;
}
.idea_title h1{
  font-family: algeria;
  color: rgb(225, 91, 158);
}
.idea_description{
  margin: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
 
}
.idea_description p{
  font-family: century;
  color: black;
  font-size: 18px;
}
.idea_likes {
  margin: 1rem 0;
 margin-left: 2rem;
  display: flex;
  flex-direction: row;
 
  width: 92.5%;
  
 
  

}
 .like_icon{
  height: 40px;
  width: auto;
 cursor: pointer;
  color:black;
  
  
 }
 .badge{
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  right: 2rem;
  align-items: end;
  margin-left:70%;
 
  
 }
 .gold_badge{
  color: gold;
  height: 40px;
  width: auto;
 
 }
 .ruby_badge{
  color: rgb(250, 22, 250);
  height: 40px;
  width: auto;
 
 }
 .daimond_badge{
  color:#fff;
  height: 40px;
  width: auto;
 
 }
 .silver_badge{
  color: silver;
  height: 40px;
  width: auto;
 
 }
 .bronze_badge{
  color:rgb(205, 127, 50);
  height: 40px;
  width: auto;
 
 }
 .idea_comments{
  border-radius: 8px;
  margin: 1rem 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(248, 224, 235, 0.767);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
 }
 .comments_button{
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  background: rgba(250, 215, 99, 0.767);
  border: none;
 }
 .comment{
  display: flex;
  flex-direction: row;
  margin: 0.4rem 0.5rem;
  width: 100%;

 }
 .input{
  width: 88%;
  background: transparent;
  border-top: none;
  border-left:none ;
  border-right: none;
 }
 .submit_comment{
  width: 10%;
  border-radius: 5px;
  background:rgba(250, 215, 99, 0.767) ;
  border: none;
 }
 .input:focus,
 input:active {
   border-color: transparent;
   background: #fff;
 }
 .commentBody{
  border-radius: 8px;
  margin: 1rem 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(248, 224, 235, 0.767);
  display: flex;
 flex-direction: column;
  color:black;
  font-family:century ;
  height: 100px;
  border: 1px solid black;
  

 }
.commentText{
  margin-left: 2rem;
  font-size: medium;
  text-align: start;
}
.commentedBy{
  text-align: end;
  margin-top: 1rem;
  font-size: smaller;
  margin-right: 2rem;
}
.close_icon{
  color: black;
  cursor: pointer;
  margin-top: 0.75rem;
  margin-left: 43rem;
}
.comment_head{
  display: flex;
  flex-direction: row;

}
.commentedDate{
  text-align: end;
  /* margin-top: 1rem; */
  font-size: smaller;
  margin-right: 2rem;

}



.comment-box{
  width:50%;
  border: 1px solid #ccc;
  margin:50px 0;
  padding:10px 20px;
  font-family:'poppins', sans-serif;
  border-radius:5px;
  margin-left:25%;
  margin-top:80px;
  box-shadow:0px 0px 10px 1px rgb(165, 165, 165);

}
.comment-box{
  
  text-align: left;
  font-size:28px;
  color:#777;
}
.comment-form textarea{
  width:100%;
  padding:10px;
  margin:5px 0;
  box-sizing:border-box;
  outline:none;
  font-size:18px;
  font-family:'poppins','sanserif';
  border:1px solid #ddd;
  color:#777;

}
.comment-form button{
  margin:10px 0;
  border:none;
  background-color:#d0d0d0;
  padding:10px;
  font-size:18px;
  border-radius:3px;
  color:#444;

}
.comment-form button:hover{
  color:white;
  background-color :grey;

}