@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 34px;
  height: 26px;
  left: 20px;
  top: 18px;
  
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #231f20;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(78, 78, 81);
  aria-hidden: false
}

/* Position and sizing of clickable cross button */
/* .bm-cross-button {
  height: 24px;
  width: 24px;
} */

/* Color/shape of close button cross */
/* .bm-cross {
  background: #bdc3c7;
} */

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: relative;
  top:0px;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(126, 64, 95);
  padding-top: 1px;
  width: 90px;
}

/* Morph shape necessary with bubble or elastic */
/* .bm-morph-shape {
  fill: #1537cd;
} */

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  /* padding: 0.8em; */
  
}

/* Individual item */
.bm-item {
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  margin-bottom: 5px;
  display: inline-block;
  color: #d1d1d1;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
}

.bm-item div {
  font-size: 13px;
}

.bm-item:hover {
  color: black;
  background: rgba(242, 242, 242, 0.5);
  /* font-size: larger; */
  /* font-weight: 500; */
  /* text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8); */
  background-image: linear-gradient(to left, #dfc9dd, #bea3cb);
  border: 0px solid transparent;
  border-radius: 20px;
  /* transform: scale(1.01); */
}

/* Styling of overlay */
.bm-overlay {
  top:0px;
  background: rgba(0, 0, 0, 0.3);

}

/* .hide {
  display: none;
} */

/* .myDIV:hover + .hide {
  display: block;
  color: red;
} */



