/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

/* To turn off scrolling when unncessary and turn on only when necessary */
html, body {
  margin: 0;
  height: max-content;
}

body{
  /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; */
  /* font-family: 'Times New Roman', Times, serif */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif; */
  /* font-family: 'Open Sans', San-Serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* For blue background color all across the pages */
  background-color: #f7f2f8;

}

.navbar{
  padding-left: 80px;
  padding-top: 3px;
  padding-bottom: 3px;

  /* My styling for fixed navbar */
  /* overflow: hidden; */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  background-color: #d9d2db;
  box-shadow: 3px 3px 5px 2px rgba(106, 105, 105, 0.689);
}

.container {
  margin-top: 20px;
  z-index: 1;
}

.justify-content-end{
  padding-right: 5px;
}

.nav-link{
  padding: 0px;
  text-align: center;
  /* color: rgba(245, 245, 245, 0.734); */
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: white;
  background-color: #5A4181 !Important;
  border: solid 1px #5A4181 !Important;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
} 

/* .userprofile{
  float: right;
} */

/* @media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} */

